@media only screen 
and (min-width : 768px) {

  #schedule ul li {
    width: 50%; float: left;
    min-height: 11em;

    &:nth-child(2n+1) { padding-right: 1em; clear: both; }
    &:nth-child(2n+2) { padding-left: 1em; }
  }

}

@media only screen 
and (min-width : 1200px) {

  #schedule ul li {
    width: 33.333%;
	padding: 0 !important; padding-right: 3em !important;
	&:nth-child(2n+1) { padding-right: inherit; clear: none; }
	&:nth-child(3n+4) { clear: both; }
  }

}

@media only screen 
and (min-width : 1600px) {

  #schedule ul li {
    width: 25%;
	&:nth-child(3n+4) { clear: none; }
	&:nth-child(4n+5) { clear: both; }

	.screenings { font-size: 0.95em; }
  }

}

@media only screen 
and (max-width : 860px) {

  body { font-size: 12px; }

  header h3 span { display: block; padding-top: 0.5em; }
}

@media only screen 
and (max-width : 550px) {

  body { padding: 0; }
  .site { border-radius: 0; }

  header h3 span { display: block; padding-top: 0.5em; }
}

@media only screen 
and (max-width : 471px) {

  header h3 span select { width: 44%; }
  
}


