/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

	body { padding: 1em; }
	body, table {   }
	
	.content header h2 {
		font-size: 1em; 
		line-height: 1.2em; 
		span { display: none; }
	}

	.content.explanation,
	footer.banner { display: none; }

	#table table {
		width: auto !important; 
		table-layout: inherit !important;
		border: none;
		@include box-shadow(#EEE 0 0 0);
		

		tbody:nth-child(1) { display: none; }

		tr { 
			display: inline; 
			padding: 0; 
		}

		th, td { 
			display: inline;
			padding: 0;
			background: #FFF !important; 
			border: none !important;
		} 
		
		tbody td:nth-child(1) {
			display: block; 
			width: 100%; 
			word-wrap: nowrap;
			font-weight: bold; 
			padding-top: 0.8em; 
		}
		
	}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

	body { font-size: 0.6em; line-height: 1.4em;  }

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	

}

/* iPads (portrait) ----------- */
@media only screen
and (max-device-width : 1024px)
and (orientation : portrait) {


}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 900px) {



}	

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1024px) {


}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {


}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1400px) {


}

/* Large screens ----------- */
@media only screen
and (min-width : 1600px) {


}

/* Large screens ----------- */
@media only screen
and (min-width : 1800px) {


}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}
