/* -----------------------------------------
  General styles
----------------------------------------- */
* { padding: 0; margin: 0;  }
body { padding: 3em; }
a { color: #258; text-decoration: none;  }
.strike { text-decoration:line-through; }
.cleaner { height: 1px; overflow: hidden; clear: both; margin-bottom: 1em;  } 

/* -----------------------------------------
  Imports
----------------------------------------- */
@import 'compass';
@import '_typography';

/* -----------------------------------------
  Layout
----------------------------------------- */

.container {

	& > header.banner,
	& > footer.banner {
		background: #F9F9F9;
		border: 1px solid #EEE; 
		margin-bottom: 2em; 
		padding: 2em;
		h1, p { padding: 0;  } 
	}

	& > header.banner {
		h1 { font-size: 1.4em; line-height: 1em; margin: 0;  } 
		p { padding-top: 0.5em; } 
	}	

	& > .content {
		overflow: hidden; padding-bottom: 2em; 

		article, aside {
			float: left;
		}

		article {
			width: 60%; 
			margin-right: 5%; 
		}

		aside {
			width: 35%; 

			section {
				padding: 2em; 
				background: #F9F9F9;
				border: 1px solid #EEE; 
			}
		}
	}
}

/* -----------------------------------------
  JS & Table related styles
----------------------------------------- */
#jscontainer {
	& header { overflow: hidden; padding: 0 0 1em 0;  }
	& header h2 { margin: 0;  }
	& header select { 
		display: inline; font-size: 1em; border: 1px solid #CCC; padding: 0 0.3em; font-weight: bold; outline: none; background: #EEE; 

		@include appearance(none);
		-moz-appearance: groupbox;
		-moz-padding: 0;

		&:hover {
			background: #EEE; 
		}

		option {
			padding: 0; 
			height: 3em; 
		}
	}
}

#table {
	padding: 5px; 
	clear: both; 
	overflow: auto; 
	/*border: 2px solid #333;*/
	$table-border-color: #CCC;
	$cell-border-color: #e0e0e0;
	
	&.noprogram table { display: none; }

	table { 
		width: 100%;
		border-spacing: 0;
		border: 1px solid $table-border-color;
		table-layout: fixed;
		background: #FFF;

		@include box-shadow(#EEE 0px 1px 2px);
		@include border-top-left-radius(4px);
		@include border-top-right-radius(4px);

		th, td { 
			border: 1px solid $cell-border-color; 
			border-top-color: #FFF;
			border-left-color: #FFF;
			padding: 5px 5px; 
			text-align: center; cursor: default;
			@include text-shadow(#FFF 1px 1px 0);

			a { text-decoration: none; color: #000;  }
			
			&:nth-child(1) { 
				width: 24%;
				vertical-align: top; text-align: left; 
			}
		}

		tbody:nth-child(1) {
			
			th { 
				color: #666; 
				@include background-image(linear-gradient(top, #F8F8F8, #EBEBEB));
				@include text-shadow(#FFF 1px 1px 0);
		   	}
			
			th:first-child {
				@include border-top-left-radius(4px);
				&::after {content: 'Филм';}
			}

			th:last-child {
				@include border-top-right-radius(4px);
			}
		}

		tbody:nth-child(2) tr:hover {
			td, th {
				@extend .highlight;

				&:hover { background: #EEE; border-top-color: #FFF; border-left-color: #FFF;  }
				&:hover a {  }
			}
		}

		.highlight { 
			background: #F9F9F9;
		}
	}


}

/* -----------------------------------------
  Forms
----------------------------------------- */
section > form {
	overflow: hidden; 
	float: left;
	margin-right: 1em; 
}

.donate-button {
	border: 1px solid adjust-lightness(#ffb400, -10);
	display: block; 
	padding: 0.5em 2.5em; margin: 0; 
	font-size: 1.2em;  line-height: 1em; 
	color: #333; 
	cursor: pointer;
	
	@include text-shadow(rgba(white, 0.6) 1px 1px 0);
	@include border-radius(6px);
	@include background-image(linear-gradient(#ffcc00, #ffb400));

	&:hover {
		@include background-image(linear-gradient(adjust-lightness(#ffcc00, 5), adjust-lightness(#ffb400, 5)));
	}
}

/* -----------------------------------------
  Media Queries
----------------------------------------- */
@import '_mediaqueries';
