{% extends 'layout.html' %}

{% block content %}
<div class="page">
	<div class="section page-header">
		<div class="wrapper">
			<hgroup>
				<!--<h3>Antipodes.Cubes</h3>-->
				<h1 class="pagetitle">Antipodes.Cubes <span class="next">&gt;</span> ERP Модули</h1>
			</hgroup>
			<p>Antipodes.Cubes™ включва инструменти за моделиране, мониторинг и оптимизиране на бизнес процесите, които да подобрят скоростта и резултатите на вашата организация.</p>
		</div>
	</div>
	<div class="section separator">

	</div>
</div>
{% endblock %}

