<li>
	<span class="poster"><img src="/cache/movies/posters/{{feature-code}}.jpg"></span>
	<span class="item">
		<span class="item-header">
			{{#title}}<span class="title">{{title}}</span>{{/title}}
			{{#duration}}<span class="tag duration"><span class="fa fa-clock-o"></span> {{duration}}min</span>{{/duration}}
			{{#type}}<span class="tag type">{{type}}</span>{{/type}}
			{{#IMAX}}<span class="tag imax">IMAX</span>{{/IMAX}}
			{{#4DX}}<span class="tag 4dx">4DX</span>{{/4DX}}
			{{#3D}}<span class="tag 3d">3D</span>{{/3D}}
			{{#XXXX}}<span class="tag trailer"><a data-title="{{title}}" href="#">Trailer</a></span>{{/XXXX}}
			{{#synopsis}}
			<span class="tag information">
				<span class="fa fa-info"></span>
				<span class="data">
					<span class="info">
						{{synopsis}}
					</span>
				</span>
			</span>
			{{/synopsis}}
		</span>
		<span class="screenings">
			{{#screenings}}
			<a href="http://195.117.18.73/ReservationsBG?key=Sofia&ec={{code}}" target="_blank">{{time}}</a>
			{{/screenings}}
		</span>
	</span>
</li>
